In [210]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

In [211]:
data = ({'Col1':[None, 10, 20, 30, None, 30, None, 20, 10],
         'Col2':[None, 5,None, 3, None, 2, 1, 2, 3],
         'Col3':[30, None, None, 10, 20, 30, 20, 10, None],
         'Col4':[None, 32, None, 60, None, 10, None, None, 20],
         'Col5':[None, 22, 10, 50, None, 20, None, 50, 20]
        })

df = pd.DataFrame(data)
print(df)

   Col1  Col2  Col3  Col4  Col5
0   NaN   NaN  30.0   NaN   NaN
1  10.0   5.0   NaN  32.0  22.0
2  20.0   NaN   NaN   NaN  10.0
3  30.0   3.0  10.0  60.0  50.0
4   NaN   NaN  20.0   NaN   NaN
5  30.0   2.0  30.0  10.0  20.0
6   NaN   1.0  20.0   NaN   NaN
7  20.0   2.0  10.0   NaN  50.0
8  10.0   3.0   NaN  20.0  20.0

In [212]:
data = data_mean = data_mode = data_median = data_const = df.convert_dtypes()
print(data)

   Col1  Col2  Col3  Col4  Col5
0  <NA>  <NA>    30  <NA>  <NA>
1    10     5  <NA>    32    22
2    20  <NA>  <NA>  <NA>    10
3    30     3    10    60    50
4  <NA>  <NA>    20  <NA>  <NA>
5    30     2    30    10    20
6  <NA>     1    20  <NA>  <NA>
7    20     2    10  <NA>    50
8    10     3  <NA>    20    20

In [213]:
columns = data.columns.tolist()
columns

['Col1', 'Col2', 'Col3', 'Col4', 'Col5']

In [214]:
def imputingmean(df):
    df_new = df.copy()
    for i in columns:
        df_new[i].fillna(int(df_new[i].mean()), inplace=True) #dataframe.fillna(dataframe.mean(), inplace = False) 
    return df_new

In [215]:
def imputingmode(df):
    df_new = df.copy()
    for i in columns:
        df_new[i].fillna(int(max(df_new[i].mode())), inplace=True) #dataframe.fillna(dataframe.mean(), inplace = False) 
    return df_new

In [216]:
def imputingmedian(df):
    df_new = df.copy()
    for i in columns:
        df_new[i].fillna(int(df_new[i].median()), inplace=True) #dataframe.fillna(dataframe.mean(), inplace = False) 
    return df_new

In [217]:
def imputingconst(df):
    df_new = df.copy()
    for i in columns:
        df_new[i].fillna(int(0), inplace=True)
    return df_new

In [218]:
def SimpleImputer(dataframe, mode):
    if (mode == "mean"):
        df = imputingmean(dataframe)
    elif (mode == "median"):
         df = imputingmedian(dataframe)
    elif (mode == "mode"):
        df = imputingmode(dataframe)
    else:
        df = imputingconst(dataframe)
        
    return df

In [219]:
data

   Col1  Col2  Col3  Col4  Col5
0  <NA>  <NA>    30  <NA>  <NA>
1    10     5  <NA>    32    22
2    20  <NA>  <NA>  <NA>    10
3    30     3    10    60    50
4  <NA>  <NA>    20  <NA>  <NA>
5    30     2    30    10    20
6  <NA>     1    20  <NA>  <NA>
7    20     2    10  <NA>    50
8    10     3  <NA>    20    20

In [220]:
SimpleImputer(data_mean, "mean")

   Col1  Col2  Col3  Col4  Col5
0    20     2    30    30    28
1    10     5    20    32    22
2    20     2    20    30    10
3    30     3    10    60    50
4    20     2    20    30    28
5    30     2    30    10    20
6    20     1    20    30    28
7    20     2    10    30    50
8    10     3    20    20    20

In [221]:
SimpleImputer(data_const, "const")

   Col1  Col2  Col3  Col4  Col5
0     0     0    30     0     0
1    10     5     0    32    22
2    20     0     0     0    10
3    30     3    10    60    50
4     0     0    20     0     0
5    30     2    30    10    20
6     0     1    20     0     0
7    20     2    10     0    50
8    10     3     0    20    20

In [222]:
SimpleImputer(data_median, "median")

   Col1  Col2  Col3  Col4  Col5
0    20     2    30    26    21
1    10     5    20    32    22
2    20     2    20    26    10
3    30     3    10    60    50
4    20     2    20    26    21
5    30     2    30    10    20
6    20     1    20    26    21
7    20     2    10    26    50
8    10     3    20    20    20

In [223]:
SimpleImputer(data_mode, "mode")

   Col1  Col2  Col3  Col4  Col5
0    30     3    30    60    50
1    10     5    30    32    22
2    20     3    30    60    10
3    30     3    10    60    50
4    30     3    20    60    50
5    30     2    30    10    20
6    30     1    20    60    50
7    20     2    10    60    50
8    10     3    30    20    20